
<!DOCTYPE html>
<html>
<head>
    <title>Ethio-Services</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f1f8e9; /* Light green background */
            font-family: Verdana;
        }

        header {
            background-color: #f8f9fa;
            padding: 20px;
            text-align: center;
        }

        nav {
            background-color: #dc3545;
            color: #fff;
            padding: 10px;
        }

            nav a {
                color: #fff;
                text-decoration: none;
                margin-right: 10px;
            }

        section {
            padding: 40px;
            text-align: center;
        }

        footer {
            background-color: #f8f9fa;
            padding: 20px;
            text-align: center;
            color: #343a40;
        }
        .light-dark1 {
            background-color: #18191a;
            color: #ffffff;
        }
        .light-dark2 {
            background-color: #38393a;
            color: #ffffff;
        }
        h1 {
            font-weight: bolder;
        }
        .boldHeader {
            font-weight: bold;
        }

    </style>
</head>
<body>
    <header>
        <div class="container">
            <h1>ETHIO-SERVICES</h1>
            <h1>@ViewBag.Location</h1>
        </div>
    </header>



    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 light-dark1">
                    <h3 class="boldHeader">CLIENTS</h3>
                    <p>
                        This is the place where you find the best talent in Ethiopia. Whether for long or short term projects, our labor market will offer the best quality at the most competitive price.
                    </p>
                </div>
                <div class="col-md-6 light-dark2">
                    <h3 class="boldHeader">TALENT</h3>
                    <p>
                        Looking for gigs? Looking for jobs? Set up a profile and put up a portfolio. Make money with all our various clients.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <h3>CONTACT</h3>
            <ul class="list-unstyled">
                <li>noahhaile456@gmail.com</li>
                <li>+251944054645</li>
            </ul>
        </div>
    </footer>

   
</body>
</html>
